body{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    /* background-image: url('fundo_login_claro_desfoque.png'); */
    
    
}
#alert_login_span{
    width: 35px;
    height: 35px;
    cursor:pointer;
    background-color: rgba(0,0,0,.2);
    padding:6px 8px;
    border-radius:20px;
}
#alert_login{
    cursor:pointer;
    font-size: 9pt;
    color:white;
    padding: 8px 7px;
    border-radius: 50px;
    text-align: center;
    display:visible;
    background-color: #d9534f;
}
form > label{
    margin-left: 35%;
    color: #0275d8;
}
form{
    height: 350px;
    display: column;
    float:left;
    margin-left: 40%;
    margin-top: 8%;
    padding: 35px 50px 55px 50px;
    background-color:rgba(255,255,255,1);
    
    border: 2px solid #007bff;
}
#Logo{
    width: 200px;
    height: 130px;
    background-image: url('logo_umc_brinq.png');
    background-position: center;
    background-clip: border-box;
    background-size: 90%;
    background-origin: border-box;
    background-repeat: no-repeat
}
form input, form a{
    align-self: center;

    margin:13px 15px;
    display:block
}
form a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9pt;
    margin-left: 20%;
}
form input[type=submit]{
    margin-left: 30%;
    padding: 5px 13px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
    background-color: #007bff;

}
table tr td,table tr th{
    box-align:center;
    text-align:center;
}